.appBar {
  background-color:white;
}

.menuButton {
  color: #000;
  margin-right: 50px;
}

.search {
  color: #000;
  position: relative;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  
}



.searchIconWrapper {
  padding: 0 16px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputRoot {
 width: 100%;
  padding: 8px 8px 8px calc(1em + 32px);
}