/* src/styles/Header.css */

.header {
    width: 100%;
    padding: 50px 50px;
    position:fixed;
    height: 50px;
    z-index: 1000;
    background-color: rgb(1,0,0);

}

.user-menu {
    padding: 5px;
    margin: 50px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0px;


}

.logo img {
    max-height: 150px;

}

.nav ul {
    padding-right: 170px;
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 0px;
    list-style-type: none;

}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.nav ul li a:hover {
    color: gold;
}
.nav ul li {
    display: inline;
    margin-right: 10px;
}

.nav ul li .active-link {
    color: gold; 
    font-weight: bold; 
}
