.special-offers,
.testimonials,
.rooms,
.restaurant,
.contact {

    text-align: center;
    place-items: center;
    font-family: sans-serif;
    color: black;

}


.special-offers {
    height: 50vh;
}

.testimonials {
    height: 20vh;
    font-style: italic;
    margin-top: 80px;
    color: #fff;


}

.contact {
    height: 30vh;
    font-style: italic;
    color: white;


}

.about-us h2,
.rooms h2,
.restaurant h2 {
    font-size: 1.5em;
    font-style: italic;
    font-size: xx-large;
    border-bottom: 1px solid gold;
}



.testimonials h2,
.contact h2 {

    font-size: 1.5em;
    font-style: italic;
    font-size: xx-large;
    color: white;


}

.special-offers .offer,
.testimonials .review,
.contact-us .contact,
.my-restaurant .restaurant,
.my-rooms .rooms,
.about-us .container {
    margin: auto;


}

.special-offers .offer h3,
.testimonials .review p,
.contact-us .contact,
.my-restaurant .restaurant,
.my-rooms .rooms,
.about-us .container {
    margin: auto;
}

.about-us {

    display: flex;
    align-items: center;
    background-color: #000;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-container {
    box-shadow: 0 0 10px gold;
    border-radius: 20px;
    text-align: start;
    line-height: 1.5;
    padding: 20px;
    flex: 1;
    color: white;
    background-color: #000;
    font-style: italic;

}

.special-offers {
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.container {
    flex: 1;
    color: #000;
    background-color: #fff;


}

.offers-container {
    background-color: #f5f5dc;
    color: #000;
    flex: 1;
    font-style: italic;
    border-style: outset;
    border-radius: 10px;
    padding-top: 52px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.hotel-image {
    flex: 1;
    text-align: center;

}

.hotel-image img {
    height: 100%;
    width: 100%;
    border-radius: 20px;


}

.offer-image {
    flex: 1;
    max-width: 100%;


}

.offer-image img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 10px;

}

.my-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;


}

.my-restaurant,
.my-rooms {
    flex: 1;
    max-width: 100%;
    font-style: italic;
    border-radius: 10px;


}

.my-restaurant {
    background-color: #f5f5dc;
    color: black;
    border-style: outset;
    padding: 40px;

}

.my-rooms {
    background-color: #f5f5dc;
    color: black;
    border-style: outset;
    padding: 42px;
}

@media(max-width:768px) {
    .my-container {
        flex-direction: column;
    }
}

.book-button {
    background-color: gold;
    color: #000;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
}

.book-button:hover {
    background-color: yellow;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 80px;

}

.content {
    margin: auto;
}