.login-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Ensures it overlays other elements */
}

.login-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
}

.login-form .close-btn {
    color: red;
    position: absolute;
    top: 5px;
    left: 130px;
    background:none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.login-form h2 {
    margin-top: 0;
}

.login-form form div {
    margin-bottom: 15px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    color: #000;
    background-color: #fff;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid gold;
    border-radius: 20px;
}

.login-form .error {
    color: red;
    font-size: 0.9em;
}

.login-form button {
    width: 100%;
    padding: 10px 15px;
    background: gold;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
}

.login-form button:disabled {
    background: #cccccc;
}

.login-links {
    margin-top: 20px;
    text-align: center;
}

.login-links a {
    color: #007bff;
    text-decoration: none;
}

.login-links p {
    margin: 10px 0 0;
}

.login-links p a {
    color: #007bff;
    text-decoration: none;
}